nextflow
tempo/mapping.tsv
tempo/pairing.tsv
submit.lsf.sh
tempo/job.id
tempo/logs/
*/work/*
.nextflow/*
*/.nextflow/*
tempo/bamMapping.tsv
.nextflow.log
.nextflow.pid
tempo/fileTracking.tsv
tempo/output/
tempo/.submitted
config.json
*.exitcode
*body.json
