// config file to use with Tempo 1.3

params {
    SplitLanesR1_time1 = 72.h
    SplitLanesR1_time2 = 72.h
    SplitLanesR1_time3 = 72.h

    SplitLanesR2_time1 = 72.h
    SplitLanesR2_time2 = 72.h
    SplitLanesR2_time3 = 72.h

    AlignReads_time1 = 72.h
    AlignReads_time2 = 72.h
    AlignReads_time3 = 72.h

    MarkDuplicates_time1 = 72.h
    MarkDuplicates_time2 = 72.h
    MarkDuplicates_time3 = 72.h

    CreateRecalibrationTable_time1 = 72.h
    CreateRecalibrationTable_time2 = 72.h
    CreateRecalibrationTable_time3 = 72.h

    RecalibrateBam_time1 = 72.h
    RecalibrateBam_time2 = 72.h
    RecalibrateBam_time3 = 72.h

    RunNeoantigen_time1 = 72.h
    RunNeoantigen_time2 = 72.h
    RunNeoantigen_time3 = 72.h

    QcAlfred_time1 = 72.h
    QcAlfred_time2 = 72.h
    QcAlfred_time3 = 72.h

}

process {
    withName: '.*' {
        // set all processes to use 72hr walltime
        time = 72.h
    }
    withName: 'RunMsiSensor|DoFacets' {
        // increase the base memory allocation for MSI Sensor and Facets
        memory = { 12.GB * task.attempt }
    }
}
