// extra CAS config file to use with Tempo version 1.2-0-g94e134a
// override some settings from the default Tempo juno configs in order to allow for greater resource allocation
// https://www.nextflow.io/docs/latest/config.html?highlight=withname#selectors-priority

process {
    withName: '.*' {
        // change the time limit for all jobs to 72hrs
        time = 72.h
    }
    withName: RunMsiSensor {
        // increase the base memory allocation for MSI Sensor
        memory = { 12.GB * task.attempt }
    }
}
